<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879742618722-keguq9l097577in4jsamrkhkcn407p0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879742618722-keguq9l097577in4jsamrkhkcn407p0a</string>
	<key>API_KEY</key>
	<string>AIzaSyB_sxW4n0JFulmigB_YIylupHjdWBH8kXk</string>
	<key>GCM_SENDER_ID</key>
	<string>879742618722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brud.cafe</string>
	<key>PROJECT_ID</key>
	<string>brudapp-92583</string>
	<key>STORAGE_BUCKET</key>
	<string>brudapp-92583.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879742618722:ios:5af8cdc09ee9634395953b</string>
</dict>
</plist>